### Folders ignore
doc/
log/
objs/
testers/
tests/
maps/

### Folders ignore
#libs/
#inc/
#src/

### Files ignore
**/*.o
**/*.d
**/*.a
**/*.so

### Files ignore
#**/*.log
#**/*.txt
#**/*.md
**/malloc_alloc.txt
**/malloc_allocs
**/rclone.log

### Files ignore
**/*.tar.gz
**/*.tar
**/*.zip	


# Binaries
**/*.out
pipex